<% provide(:title, 'Directory') %>
<h1>Directory</h1>

<ul class="users">
  <% @users.each do |user| %>
  <li>
      <b><%= link_to user.name, user %></b>
  </br>  <%= link_to user.address, user %>
    </br>  <%= link_to user.city, user %>
	    </br>  <%= link_to user.other, user %>
	    </br>  <%= link_to user.category, user %>
    </li>
  <% end %>
</ul>