<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	
    <%= f.label :name, "Business Name*" %>
    <%= f.text_field :name %>
	
    <%= f.label :other, "Business Category*" %>
	<%= f.select :other, [['Please select a Category', nil], 'Active Life', 'Automotive', 'Beauty & Spa', 'Doctor & Medical', 'Entertainment', 'Financial Services', 'Health Services','Home Services','Local Services','Lounge','Mass Media','Pets','Professional Services','Real Esatet','Religious Organization','Restaurant','Shopping','Supermarket','Travel' ] %>
    <%= f.text_area :category, :placeholder => "Please specify speciality. For example, for Doctor & Medical, you can write Orthopedic Surgeon, Heart Surgeon, etc." %>
	

    <%= f.label :address, "Address*" %>
    <%= f.text_field :address %>
	
    <%= f.label :city, "City*" %>
    <%= f.text_field :city %>

    <%= f.label :zipcode, "Zipcode*" %>
    <%= f.text_field :zipcode %>

    <%= f.label :phone, "Phone Number" %>
    <%= f.text_field :phone, :placeholder => "(000)000-0000" %>
	 
    <%= f.label :website, "Website" %>
    <%= f.text_field :website %>
  
    <%= f.label :hours, "Business Hours" %>
    <%= f.text_field :hours %>
	
    <%= f.label :email , "Email*"%>
    <%= f.text_field :email %>

    <%= f.label :password, "Password*" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation*" %>
    <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
	<p>Already Have An Account? <%= link_to "Sign in!", signin_path %></p>
</br>
	<p><i> Fields with * cannot be left empty </i></p>
	<p><i> By clicking "Create My Account", You are agreeing to Kojaw's <b>Terms of Service</b></i> </p>

  </div>

</div>