<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<div class="row">
  <div class="profile">
<p class="address"> <%= @user.address %> </p>
<p class="address"> <%= @user.city %> </p>
<p class="address"> <%= @user.zipcode %> </p>
<p class="phoneno"> <%= @user.phone %> </p>
<p class="website_link"> <%= @user.website %> </p>
<p class="hours_of_operation"> <%= @user.hours %> </p>
<p class="other_info"> <%= @user.other %> </p>
<p class="other_info"> <%= @user.category %> </p>
<p class="other_info"> <%= @user.tag %> </p>

</div>
</div>

