<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<div class="row">
  <div class="profile">
<p> <%= @user.address %> </p>
<p> <%= @user.city %> </p>
<p> <%= @user.zipcode %> </p>
<p> <%= @user.phone %> </p>
<p> <%= @user.hours %> </p>
<p> <%= @user.website %> </p>
<p> <%= @user.other %> </p>

</div>
</div>

